<div class="w-full min-h-[140px] md:min-h-[322px] mb-12 bg-cover flex md:items-center items-center md:justify-start justify-center" style="background-image: url('{{ image | image_url: width: 1200 }}')">
    <div class="md:pl-24 pl-0">
        <p class="text-white text-3xl pl-2">{{ preheading }}</p>
        <h2 class="text-white text-5xl md:text-[90px]">{{ collection.title }}</h2>
    </div>
</div>

<h6 class="text-brand-red text-3xl font-Noto my-6">{{ collection.title }}</h6>

